body {
    background: #21618C ;
  }
  
  .wrapper {
    width: 1600px;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    min-height: 100%;
  }

  @media only screen and (max-width: 700px){
      /* For mobile */
    .wrapper{
      width:670px;
    }
  }
  
  .address {
    font-style: italic;
  }

  .header {
    color:#A3E4D7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .textinput{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 0 125px;
    padding: 8px;
    width: 60%;
    margin: 35px;
    font-family: 'Comfortaa', cursive;
  }

  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    margin: 0;
    width: 60%;
    background-image: linear-gradient(lightgreen, lightblue);
    padding-left: 10px;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
    padding: 0 px;
    margin: 0;

  }
   
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 225px;
    margin: 0;

  }
  
  
  .flex-inner li {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    margin: 0;

  }
  
  .flex-inner input {
    margin-right: 15px;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;
    margin: 0;

  }
  
  .flex-outer {
    padding: 0 16px;
    margin:0 auto;
  }
  
  h1 {
    margin: 20px 50px;
    padding: 0 20px;
    min-height: 75px;
    background-color: #21618C;
    color: white;
    display: flex;
    font-family: 'Comfortaa', cursive;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    flex-wrap: nowrap;
    border-radius: 4px;
  }
  